<div class="owner-info">
	<dl>
  		<dt>Registration ID:</dt>
    		<dd id="owner-id"><%= @owner.id %></dd></br>
  		<dt>Name:</dt>
    		<dd id="owner-name"><%= @owner.name.to_s %></dd></br>
    	<dt>Phone:</dt>
    		<dd id="owner-phone"><%= @owner.phone %></dd></br>
    	<dt>Email:</dt>
    		<dd id="owner-email"><%= @owner.email %></dd></br>
    	<dt>Address:</dt>
    		<dd id="owner-address"><%= @owner.address %></dd></br>
	</dl>
</div>