<div id='<%="pet-#{t+1}"%>'>
<%= render 'shared/pet_error_messages', :t => t %> 
	<hr>
	<div class="pet-numeration"> 
		<h3 class="form-subtitle"><%="#{t+1})"%></h3>
	</div>
	<div class="pet-form-div">
	

	    <%= f2.label :name %>&nbsp;
	    <%= f2.label :age %>&nbsp;
	    <%= f2.label :pet_type_id, 'Type of pet'%>
	    </br>
	    <%= text_field_tag "pet[][name]" %>&nbsp;
	    <%= text_field_tag "pet[][name]" %>&nbsp;
	    <%= select_tag("pet[][pet_type_id]", options_from_collection_for_select(PetType.all, "id", "name"), :prompt => 'Select a pet type') %>
	
	</div>
</div>