<% if defined?(@pet) %>
	<% @pet.count.times do |t| %>
		<div id='<%="pet-#{t+1}"%>'>
			<hr> 
			<div class="pet-numeration"> 
				<h3 class="form-subtitle"><%="#{t+1})"%></h3>
			</div>
			<div class="pet-info-div">
				<dl>
			  		<dt>Name:</dt>
			    		<dd id="pet-<%= "#{t+1}" %>-name"><%= @pet[t].name %></dd></br>
			    	<dt>Age:</dt>
			    		<dd id="pet-<%= "#{t+1}" %>-age"><%= @pet[t].age %></dd></br>
			    	<dt>Pet type:</dt>
			    		<dd id="pet-<%= "#{t+1}" %>-type"><%= (PetType.where("id = ?", @pet[t].pet_type_id))[0].name %></dd></br>
				</dl>
			</div>
		</div>
	<% end %>
<% end %>