<% provide(:title, 'Pet Registration') %>
<h1>Pet Registration</h1>
<hr>
<h2 class="form-subtitle">Owner information</h2>
<%= form_for @owner, :url => records_path do |f| %>

  <%= render 'shared/owner_form', :f => f %>

    <h2 class="form-subtitle">Pet Information</h2>

    <label>Number of Pets</label>
	</br>
    
    <% select_tag("number_of_pets", options_for_select([['test','1'],['puchi','2']], 
    													params[:number_of_pets])) %>

    <%= form_for @pet[0], :url => records_path do |f2| %>

	    <% RecordsHelper::ALLOWED_PETS.times do |t| %>
	    	<%= render 'shared/pet_form', :t => t, :f2 => f2 %>
	    <% end %>

    	<%= submit_tag("Submit", class: "btn bt1n-large btn-primary") %>

    <% end %>

	</br>
    

<% end %>