<% provide(:title, 'Pet Registration') %>
<h1>Pet Registration</h1>
<hr>
<h2 class="form-subtitle">Owners information</h2>
<%= form_for @owner, :url => records_path do |f| %>

  <%= render 'shared/owner_error_messages' %>

    <%= f.label :name %>&nbsp;
    <%= f.label :phone %>&nbsp;
   	<%= f.label :email %>&nbsp;
    <%= f.label :address %>&nbsp;
    </br>
    <%= f.text_field :name %>&nbsp;
    <%= f.text_field :phone %>&nbsp;
    <%= f.text_field :email %>&nbsp;
    <%= f.text_field :address %>&nbsp;

    <hr>

    <h2 class="form-subtitle">Pet Information</h2>

    <label>Number of Pets</label>
	</br>
    <select name="number_of_pets">
      <% RecordsHelper::ALLOWED_PETS.times do |t| %>
  	  	<option value="<%= (t+1) %>" <%= 'selected="selected"' if (t+1)==1 %>><%="#{t+1} Pet"%><%= "s" if (t+1)>1%></option>
  	  <% end %>
    </select>

    <% RecordsHelper::ALLOWED_PETS.times do |t| %>
    	
    	<div id='<%="pet-#{t+1}"%>'> 
    		<hr>
    		<div class="pet-numeration"> 
    			<h3 class="form-subtitle"><%="#{t+1})"%></h3>
    		</div>
    		<div class="pet-form-div">
			<%= form_for @pet[t], :url => records_path do |f| %>

			    <%= f.label :name %>&nbsp;
			    <%= f.label :age %>&nbsp;
			    <%= f.label :pet_type_id, 'Type of pet'%>
			    </br>
			    <%= f.text_field :name %>&nbsp;
			    <%= f.text_field :age %>&nbsp;
			    <%= select("pet[t]", "pet_type_id", PetType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select a pet type'}) %>
			<% end %>
			</div>
    	</div>
    <% end %>

	</br>
    <%= f.submit "Register pets", class: "btn bt1n-large btn-primary" %>

<% end %>